# Node
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist/

# Vite cache / prebundle
/node_modules/.vite/
/.vite/

# Environment
.env
.env.local
.env.*.local

# Editor / OS
.vscode/
.idea/
.DS_Store

# Misc
coverage/